$yellows: #d6b36a;
$white: #ffffff;
$navi: #083050;
$font-primary: "MyriadPro", sans-serif;
//color web
$color-red-200: #fed8a8;
$color-red-300: #fdc066;
$color-red-400: #f57e20;
$color-red-500: #eb3424;
$color-brown-200: #b35f27;
$color-brown-300: #87381c;
$color-gray-100: #f6f7f8;
$color-gray-200: #e3e5e5;
$color-gray-300: #c8c8c8;
$color-gray-400: #989898;
$color-gray-500: #6b6c6c;
$color-gray-600: #4c4d4d;

$shadow: 0 -5px 20px 0 rgba(0, 0, 0, 0.05), 0 6px 20px 0 rgba(0, 0, 0, 0.05);

$color-gradient-1: linear-gradient(to right, #f57121, #fdbf66);
$color-gradient-2: linear-gradient(to left, #f57121, #fdbf66);
$color-gradient-3: linear-gradient(to left, #feead1, #ffffff);
$color-gradient-4: linear-gradient(to right, #feead1, #ffffff);
$black: #383031;
$white: #fff;
